@import url(utils/normalize.css);
html {
  font-size: 16px; }
  @media screen and (max-width: 1280px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

body {
  font-family: "Raleway", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway - Semi Bold";
  src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "Raleway - Extra Bold";
  src: url("../fonts/raleway/Raleway-ExtraBold.ttf") format("truetype"); }

/* Styles of first screen
--------------------------*/
.screen {
  min-height: 100vh;
  width: 94.429vw;
  margin-left: 5.571vw; }
  .screen--first {
    padding-left: 3.857vw;
    padding-right: 7vw;
    padding-top: 3.071vw;
    background: url("/img/first-screen_overlay.png"), url("/img/first-screen_mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white; }

.first-header {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.first-logo {
  width: 7.625rem;
  height: 3.375rem;
  background: url("/img/header-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.first-phone {
  margin-top: 0.25rem;
  text-align: right;
  color: white; }
  .first-phone:hover {
    color: #10e08b; }
  .first-phone__numb {
    height: 0.875rem;
    margin-bottom: 0.5625rem;
    font-family: "Raleway - Extra Bold";
    font-size: 1.0625rem;
    font-weight: 400; }
  .first-phone__dscr {
    opacity: 0.7;
    font-family: "Raleway - Semi Bold";
    font-size: 0.6875rem;
    text-transform: uppercase; }

.first-front {
  margin-top: 15.944vh;
  margin-bottom: 16.582vh; }
  .first-front__heading {
    margin-bottom: 4.464vh;
    font-family: "Raleway - Extra Bold";
    font-size: 2.679vh;
    color: #10e08b;
    letter-spacing: 0.06563rem; }
  .first-front__dscr {
    max-width: 70vw;
    font-family: "Raleway - Extra Bold";
    font-size: 7.143vh; }

.first-footer {
  display: flex;
  justify-content: space-between;
  width: 53.3125rem; }

.first-feature {
  width: 15.75rem;
  padding-right: 3.75rem;
  padding-bottom: 0.9375rem;
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: rgba(145, 145, 145, 0.49);
  font-family: "Raleway - Semi Bold";
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.45px; }
  .first-feature:hover {
    color: #10e08b;
    border-bottom-color: #10e08b; }

.first-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16.875rem;
  height: 3.9375rem; }
  .first-button--primary {
    position: absolute;
    bottom: 0;
    right: 7vw;
    background-color: #10e08b;
    padding-left: 2.375rem;
    padding-right: 3rem;
    color: white; }
  .first-button__sign {
    width: 16px;
    height: 31px;
    background: url("/img/btn-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .first-button__sign--animate {
    animation: top-down 1s ease-in-out infinite;
    margin-bottom: 0.5625rem; }

@keyframes top-down {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 0.625rem); } }
  .first-button__dscr {
    font-family: "Raleway - Extra Bold";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem; }

/*-------end--------*/
/* Styles of Second screen
--------------------------*/
.screen--second {
  display: flex;
  color: black; }

.video {
  width: 45.714vw;
  background: url("/img/second-screen_jumper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -13.25rem top 0px; }
  .video::before {
    position: relative;
    display: block;
    width: 45.714vw;
    height: 100%;
    content: '';
    background: url("/img/second-screen_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.video-btn {
  position: relative;
  left: 15.68vw;
  bottom: 55.21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 7.8125rem;
  height: 7.125rem; }
  .video-btn__sign {
    position: relative;
    left: 0.125rem;
    width: 4.75rem;
    height: 4.75rem;
    background: url("/img/play-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .video-btn__dscr {
    font-family: Raleway;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.3125rem;
    color: white; }

/*-------end--------*/
/* Styles of Navigation
------------------------*/
.nav {
  position: fixed;
  top: calc( 100vh / 2 - 20px);
  right: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 2.5rem;
  height: 2.5625rem; }
  .nav__line {
    width: 1.1875rem;
    height: 1px;
    background-color: white; }
  .nav__line--active {
    width: 2.4375rem;
    height: 2px;
    background-color: #10e08b; }

/*-------end--------*/
/* Styles of sidebar
-----------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4.875rem;
  height: 100vh;
  padding-top: 2.8125rem; }
  .sidebar--text-color {
    color: black; }

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.375rem;
  margin: 0 auto; }
  .sidebar-menu:hover {
    color: #10e08b; }
  .sidebar-menu__sign {
    width: 18px;
    height: 17px;
    margin: 0 auto;
    background: url("/img/logo-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .sidebar-menu__dscr {
    margin: 0 auto;
    font-family: "Raleway - Extra Bold";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5; }

.sidebar-social {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 18px;
  transform: rotate(270deg) translate(130px, -80px);
  line-height: 18px; }

.sidebar-social-vk, .sidebar-social-inst {
  display: flex;
  justify-content: space-between; }
  .sidebar-social-vk:hover, .sidebar-social-inst:hover {
    color: #10e08b; }
  .sidebar-social-vk__dscr, .sidebar-social-inst__dscr {
    opacity: 0.4;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }

.sidebar-social-vk {
  width: 108px; }
  .sidebar-social-vk__sign {
    width: 25px;
    height: 15px;
    background: url("/img/logo-vk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.sidebar-social-inst {
  width: 97px; }
  .sidebar-social-inst__sign {
    width: 17px;
    height: 17px;
    background: url("/img/logo-inst.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

/*-------end--------*/
