@import "utils/normalize.css";
@import "utils/variables";
@import "utils/mixins";
@import "utils/global";
@import "utils/fonts";


/* Styles of first screen
--------------------------*/

.first-screen {
  min-height: 100vh;
  width: 94.429vw;
  margin-left: 5.571vw;
  padding-left: 3.857vw;
  padding-right: 7vw;
  padding-top: 3.071vw;
  background: url("/img/first-page_overlay.png"), url("/img/first-page_mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
}

.first-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-logo {
  width: rem(122);
  height: rem(54);
  background: url("/img/header-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first-phone {
  margin-top: rem(4);
  text-align: right;
  color: $white;

  &:hover {
    color: $primary;
  }

  &__numb {
    height: rem(14);
    margin-bottom: rem(9);
    font-family: "Raleway - Extra Bold";
    font-size: rem(17);
    font-weight: 400;
  }

  &__dscr {
    opacity: 0.7;
    font-family: "Raleway - Semi Bold";
    font-size: rem(11);
    text-transform: uppercase;
  }
}

.first-front {
  margin-top: 15.944vh;
  margin-bottom: 16.582vh;

  &__heading {
    margin-bottom: 4.464vh;
    font-family: "Raleway - Extra Bold";
    font-size: 2.679vh;
    color: $primary;
    letter-spacing: rem(1.05);
  }

  &__dscr {
    max-width: 70vw;
    font-family: "Raleway - Extra Bold";
    font-size: 7.143vh;
  }
}

.first-footer {
  display: flex;
  justify-content: space-between;
  width: rem(853);
}

.first-feature {
  width: rem(252);
  padding-right: rem(60);
  padding-bottom: rem(15);
  border-bottom-style: solid;
  border-bottom-width: rem(2);
  border-bottom-color: rgba(145, 145, 145, 0.49);
  font-family: "Raleway - Semi Bold";
  font-size: rem(15);
  font-weight: 400;
  letter-spacing: 0.45px;

  &:hover {
    color: $primary;
    border-bottom-color: $primary;
  }
}

.first-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(270);
  height: rem(63);

  &--primary {
    position: absolute;
    bottom: 0;
    right: 7vw;
    background-color: $primary;
    padding-left: rem(38);
    padding-right: rem(48);
    color: $white;
  }

  &__sign {
    width: 16px;
    height: 31px;
    background: url("/img/btn-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__sign--animate {
    animation: top-down 1s ease-in-out infinite;
    margin-bottom: rem(9);
  }

  @keyframes top-down {
    0%,
    100% { transform: translate(0, 0) }
    50% { transform: translate(0, rem(10)) }
  }

  &__dscr {
    font-family: "Raleway - Extra Bold";
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(18);
  }
}
/*-------end--------*/





/* Styles of Navigation
------------------------*/

.nav {
  position: fixed;
  top: calc( 100vh / 2 - 20px );
  right: rem(28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: rem(40);
  height: rem(41);

  &__line {
    width: rem(19);
    height: 1px;
    background-color: $white;
  }

  &__line--active {
    width: rem(39);
    height: 2px;
    background-color: $primary;
  }
}
/*-------end--------*/


/* Styles of sidebar
-----------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(78);
  height: 100vh;
  padding-top: rem(45);

  &--text-color {
    color: $black;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(38);
  margin: 0 auto;

  &:hover {
    color: $primary;
  }

  &__sign {
    width: 18px;
    height: 17px;
    margin: 0 auto;
    background: url("/img/logo-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__dscr {
    margin: 0 auto;
    font-family: "Raleway - Extra Bold";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
  }  
}

.sidebar-social {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 18px;
  transform: rotate(270deg) translate(130px, -80px);
  line-height: 18px;
}

.sidebar-social-vk, .sidebar-social-inst {
  display: flex;
  justify-content: space-between;
  
  &:hover {
    color: $primary;
  }

  &__sign {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__dscr {
    opacity: 0.4;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.sidebar-social-vk {
  width: 108px;

  &__sign {
    width: 25px;
    height: 15px;
    background: url("/img/logo-vk.png");
  }
}

.sidebar-social-inst {
  width: 97px;

  &__sign {
    width: 17px;
    height: 17px;
    background: url("/img/logo-inst.png");
  }
}
/*-------end--------*/