@import "utils/normalize.css";
@import "utils/variables";
@import "utils/mixins";
@import "utils/global";
@import "utils/fonts";


/* Styles of first screen
--------------------------*/

.screen {
  min-height: 100vh;
  width: 94.429vw;
  margin-left: 5.571vw;

  &--first {
    padding-left: 3.857vw;
    padding-right: 7vw;
    padding-top: 3.071vw;
    background: url("/img/first-screen_overlay.png"), url("/img/first-screen_mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
  }
}


// Header

.first-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-logo {
  width: rem(122);
  height: rem(54);

  @include img-position("/img/header-logo.png");
}

.first-phone {
  margin-top: rem(4);
  text-align: right;
  transition: all .3s ease-in-out;

  &:hover {
    color: $primary;
  }

  &__numb {
    height: rem(14);
    margin-bottom: rem(9);
    font-family: "Raleway - Extra Bold";
    font-size: rem(17);
    font-weight: 400;
  }

  &__dscr {
    opacity: 0.7;
    font-family: "Raleway - Semi Bold";
    font-size: rem(11);
    text-transform: uppercase;
  }
}


// Front First screen

.first-front {
  margin-top: 15.944vh;
  margin-bottom: 16.582vh;

  &__heading {
    margin-bottom: 4.464vh;
    font-family: "Raleway - Extra Bold";
    font-size: 2.679vh;
    color: $primary;
    letter-spacing: rem(1.05);
  }

  &__dscr {
    max-width: 70vw;
    font-family: "Raleway - Extra Bold";
    font-size: 7.143vh;
  }
}


// Footer First screen

.first-footer {
  display: flex;
  justify-content: space-between;
  width: rem(853);
}


// Feature First screen
.first-feature {
  width: rem(252);
  padding-right: rem(60);
  padding-bottom: rem(15);
  border-bottom-style: solid;
  border-bottom-width: rem(2);
  border-bottom-color: rgba(145, 145, 145, 0.49);
  transition: all .3s ease-in-out;
  font-family: "Raleway - Semi Bold";
  font-size: rem(15);
  font-weight: 400;
  letter-spacing: 0.45px;

  &:hover {
    border-bottom-color: $primary;
    color: $primary;
  }
}


// Btn First screen

.first-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(270);
  height: rem(63);

  &--primary {
    position: absolute;
    bottom: 0;
    right: 7vw;
    background-color: $primary;
    padding-left: rem(38);
    padding-right: rem(48);
    color: $white;
  }

  &__sign {
    width: 16px;
    height: 31px;

    @include img-position("/img/btn-arrow.png");
  }

  &__sign--animate {
    animation: top-down 1s ease-in-out infinite;
    margin-bottom: rem(9);
  }

  @keyframes top-down {
    0%,
    100% { transform: translate(0, 0) }
    50% { transform: translate(0, rem(10)) }
  }

  &__dscr {
    font-family: "Raleway - Extra Bold";
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(18);
  }
}
/*-------end--------*/


/* Styles of Second screen
--------------------------*/

.screen--second {
  display: flex;
  color: $black;
}


// Video

.video {
  width: 45.714vw;
  background: url("/img/second-screen_jumper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right rem(-212) top 0px;;

  &::before {
    position: relative;
    display: block;
    width: 45.714vw;
    height: 100%;
    content: '';
    @include img-position("/img/second-screen_overlay.png");
  }
}

.video-btn {
  position: relative;
  left: 15.68vw;
  bottom: 55.21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: rem(125);
  height: rem(114);

  &__sign {
    position: relative;
    left: rem(2);
    width: rem(76);
    height: rem(76);
    transition: all .3s ease-in-out;

    @include img-position("/img/play-btn.png");
  }

  &__dscr {
    font-family: Raleway;
    font-size: rem(15);
    font-weight: 700;
    line-height: rem(21);
    color: $white;
  }
}


// Features second screen

.feat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 14.031vh;
  padding-bottom: 9.184vh;
  padding-left: 3.857vw;
  padding-right: 6.857vw;
}

// Text block
.feat-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37.755vh;
  
  &__heading {
    max-width: rem(532);
    font-family: "Raleway - Extra Bold";
    font-size: 6.122vh;
    font-weight: 400;
    line-height: rem(56);
  }

  &__dscr {
    max-width: rem(480);
    height: rem(87);
    font-family: Raleway;
    font-size: rem(21);
    font-weight: 400;
    line-height: rem(34);
  }
}

// Boxes
.feat-box-wrap {
  display: flex;
  justify-content: space-between;
}

.feat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18.286vw;
  height: rem(197);
  padding: rem(29) 1.714vw;
  background-color: $grey-light;
  border: 1px solid $grey-light;
  transition: all .3s ease-in-out;

  &:hover {
    border-color: $primary;
  }
  
  &__sign {
    width: rem(75);
    height: rem(75);
  }

  &__sign--world {
    @include img-position("/img/feat-world.png");
  }

  &__sign--space {
    width: rem(77);
    height: rem(82);

    @include img-position("/img/feat-space.png");
  }

  &__dscr {
    text-align: center;
    font-family: Raleway;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(21);
  }

  &__dscr--minify {
    max-width: rem(140);
  }
}
/*-------end--------*/






/* Styles of Navigation
------------------------*/

.nav {
  position: fixed;
  top: calc( 100vh / 2 - 20px );
  right: rem(28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: rem(40);
  height: rem(41);

  &__line {
    width: rem(19);
    height: 1px;
    background-color: $white;
  }

  &__line--active {
    width: rem(39);
    height: 2px;
    background-color: $primary;
  }
}
/*-------end--------*/


/* Styles of sidebar
-----------------------*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(78);
  height: 100vh;
  padding-top: rem(45);

  &--text-color {
    color: $black;
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: rem(38);
  margin: 0 auto;
  transition: all .3s ease-in-out;

  &:hover {
    color: $primary;
  }

  &__sign {
    width: 18px;
    height: 17px;
    margin: 0 auto;

    @include img-position("/img/logo-menu.png");
  }

  &__dscr {
    margin: 0 auto;
    font-family: "Raleway - Extra Bold";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5;
  }  
}

.sidebar-social {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 18px;
  transform: rotate(270deg) translate(130px, -80px);
  line-height: 18px;
}

.sidebar-social-vk, .sidebar-social-inst {
  display: flex;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  
  &:hover {
    color: $primary;
  }

  &__dscr {
    opacity: 0.4;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.sidebar-social-vk {
  width: 108px;

  &__sign {
    width: 25px;
    height: 15px;

    @include img-position("/img/logo-vk.png");
  }
}

.sidebar-social-inst {
  width: 97px;

  &__sign {
    width: 17px;
    height: 17px;

    @include img-position("/img/logo-inst.png");
  }
}
/*-------end--------*/